@media screen and (max-width:640px){
	.item h2{
		font-size:60px;
	}
	.item h3{
		font-size:20px;
	}
	.item h4{
		font-size:18px;
	}
	.about-icon{
		max-width:292px;
		margin:30px auto;
	}
	.service-icon{
		max-width:292px;
		margin:30px auto;
	}
	.element-item {
		width:50%;
	}
	.pricing{
		max-width:292px;
		margin:30px auto;
	}
	.count{
		max-width:292px;
		margin:30px auto;
	}
}

@media screen and (max-width:480px){
	.element-item {
		width:100%;
	}
}