@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
#banner{
	margin-top:10px;
}
.singup-login{
	margin:2px 10px 0 0;
}
.fav:hover{
	color:#286090;
}
.navbar{
    border-radius: 0;
    margin-bottom: 10px;
}

#menu{
	
}

.slider_section{
    margin-bottom: 25px;
}
.navbar-default{
    background-color:#F5F5F5;
    border-color: #F5F5F5;
	margin-top:5px;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
	text-transform:uppercase;
	font-size:16px;
	font-weight:bold;
}
.navbar-default .navbar-nav>li>a:hover{
	color:#3A70B0;
}
.navbar-default .navbar-nav>li>a:focus{
	color:#3A70B0;
}
.container-fluid{
	/*margin-left:50px;*/
}


.menulogo{
	height:25px;
	width:25px;
	background-color:#fff;
	border-radius:12.5px;
}

.stock-body{
	margin-left:60px;
	font-size:22px;

    font-family: 'digital_dream_fatregular';
}


.varticalmenu{
   /* background: rgba(0,0,0,.1);*/
	padding:10px;
	top:0;
}
.left-text{
   /* background: rgba(0,0,0,.1);*/
}
.browse-price{
    padding-top: 10px;
    padding-left: 15px
}
.browse-price a{
	font-size:17px;
	text-decoration:none;
}
.browse-price i{
	font-size:12px;
}
.browse-price span{
	font-size:12px;
}
.browse-category{
    padding-bottom: 10px;
    padding-left: 15px
}
.browse-category a{
	font-size:17px;
	text-decoration:none;
}
.browse-category i{
	font-size:30px;
}
.browse-category span{
	font-size:12px;
}
#usedcar-body{
	background: url("../images/container_bg.png") no-repeat center top;
}
#main-content {
    background: url("../images/container_bg.png") no-repeat center top;

}
.main-content-right{

	padding:20px;
	margin-bottom:10px;
}


#search-form{
	margin-top:0;
}

.search_checkbox{
    margin-top: 55px;
}
#contry-flag{
	background-color:#F5F5F5;
}
#footer{
	background-color:#E5E4E2;
}
.footer-menu{
	text-align:center;
	margin-top:10px;

}
.footer-menu ul li{
	display:inline;
	text-transform:uppercase;
	margin-left:10px;
	font-weight:bold;
	font-size:16px;
}
.footer-menu a{
	text-decoration:none;
}
.foote-menu2 ul li{
	display:inline;
	margin-left:10px;
}
.foote-menu2 a{
	text-decoration:none;
}

.search-label{
	margin-left:16px;
}
.result-show{
	border:1px solid gray;
	background-color:#1C9ADB;
    height: auto;
    width: 100%;
	border-radius:7px;
	color:#fff;
	font-size:20px;
	text-align:center;
}
.btn-advance-search{
	margin-top:15px;
 	height:50px;
	width:auto;
}
.btn-advance-search a{
	background-color:#1C9ADB;
	padding:10px;
	border-radius:5px;
	text-decoration:none;
	color:#fff;
}


.calculate{
	background-color:#F5F5F5;
    padding-bottom: 20px;
}
.calculation span{
	font-size:20px;
}
.used-car-menu{
	background-color:#F5F5F5;
	margin-top:10px;
	padding:10px;
}
.used-car-menu ul li{
	display:inline;
	font-weight:bold;
	margin-right:15px;
	font-size:16px;
}
.used-car-menu a{
	text-decoration:none;
}
.used-car-menu a:hover{
	color:#286090;
}


.satisfaction-1{
	text-align:center;
}
.satisfaction-1 p{
	font-size:30px;
}
.satisfaction-1 span{
	color:orange;
	font-size:60px;
}
.satisfaction-2{
	text-align:center;
}
.satisfaction-2 span{
	color:orange;
	font-size:22px;
}
.satisfaction-2 p{
	font-size:18px;
	font-weight:bold;
}
.satisfaction-2 img{
	margin-left:50px;
	max-width:470px;
}
.smess{
	text-align:center;
	font-size:24px;
}
.s-1{
	background-color:gray;
	height:30px;
	color:#fff;
	padding:5px;
}
.s-2{
	border:1px solid gray;
	padding-bottom:42px;
	margin-bottom:20px;
}
.s-2 .fa-angle-double-right{
	padding-top:5px;
	margin-right:5px;
}
.s-2-img{
	max-height:50px;
	max-width:50px;
	margin:5px;
} 
.s-3 img{
	max-height:180px;
	max-width:180px;
	margin:5px;
	float:left;
}
.s-3 p{
	text-align:justify;
	margin:15px
}
.s-4{
	border:1px solid gray;
}
.country-heading{
	background-color:gray;
	height:30px;
	color:#fff;
	padding:5px;
}
.flag-body img{
	margin-bottom:10px;
	border:1px solid #600000;
}
.howTo-1 img{
	align:center;
}
.howTo-2 .col-md-1{
	width:12%;
}
.howToOrder h1{
	margin-left:15px;
}
.navigation-body span{
	font-size:12px;
	text-align:center;
}


.basic-help{
	border:1px solid #acb2b1;
}
.basic-help p{
	background-color:#acb2b1;
	color:#fff;
	padding:5px;
}
.basic-help-child{
	margin-left:23px;
}
.basic-help-child a{
	text-decoration:none;
}
.faq-help p{
	background-color:#acb2b1;
	color:#fff;
	padding:10px;
	font-size:20px;
}
.btnfShare{
	width:60px;
}
.example-image{
	margin-bottom:10px;
	width:50px;
	height:50px;
}
.first-image{
	display:block;
	width:426px;
	height:auto;

}
.favorite{
	margin-right:30px;
}
.detail-price{
    width:80px;
}
.details-middle span{
    font-size:20px;
    color:red;
    margin-left:10px;
}
.details-calculate{
    border:1px solid #CCC;
    margin-top:10px;
}
.details-calculation{
    margin:20px;
}
.details-textarea{
    margin-top:30px;
    resize:none;
}
.details-right{
    border:1px solid #CCC;
}
.details-right-heading{
    height:30px;
    padding:5px;
    background-color:gray;
    color:#fff;
}
.details-right-heading1{
    height:48px;
    padding:5px;
    background-color:gray;
    color:#fff;
}
.details-right p{
    margin:10px 0 10px 10px;
}
.details-bottom img{
    height:auto;
    max-width:435px;
    margin-bottom:20px;
}
.details-bottom-heading{
    height:40px;
    padding:10px;
    background-color:#286090;
    color:#fff;
    margin-top:10px;
}
.sellers-info-head{
    height:40px;
    padding:10px;
    background-color:#286090;
    color:#fff;
    margin-top:10px;
}
.sellers-info-img{
    height:auto;
    width:365px;
    margin-top:15px;
}
.user-review-head{
    height:40px;
    padding:10px;
    color:#000;
    background-color:#CCC;
}
.recomand{
    margin-top:10px;
}
.fLike{
    height:30px;
    width:30px;
}
.user-review-table{
    width:500px;
}
.seller-reply{
    margin:15px 0px;
}
.seller-p{
    margin-left:38px;
}
.seller-reply li{
    display:inline;
    list-style-type:none;
    margin:20px 40px;
}
.stock-list{
    margin-top:15px;
}
.stock-list li{
    display:inline;
    margin:20px 12px;
}
.signup-left{
    border:1px solid #CCC;
    padding:25px;
    border-radius: 10px;
}
.singup-side-img{
    margin:0 40px 30px;
}
.singin-side-img{
    margin:0 100px 30px;
}
.form-group{
    margin-bottom: 5px;
}

/*--used car page css start--*/
a img{
    border:none;
    outline:none;
}
.content{

    padding:0;
    bottom:0;
}
.demo{
    width:1000px;
    padding:10px;
    margin:10px auto;
    border: 1px solid #fff;
    background-color:#f7f7f7;
}
.pagedemo{
    border: 1px solid #CCC;
    width:1000px;
    margin:2px;
    padding:50px 10px;
    text-align:center;
    background-color:white;
}
/*--used car page css end--*/
/*--car list page css start--*/

.page_navigation a{
    padding:3px;
    border:1px solid gray;
    margin:2px;
    color:black;
    text-decoration:none
}
.active_page{
    background:darkblue;
    color:white !important;
}
/*--used car page css end--*/
/*--Negotiation Model Css Start--*/

.modal-content{
    padding: 40px;
}

.modal-footer {

     border-top: 0;
}
/*--Negotiation Model Css End--*/
.error{
    padding-top: 15px
}
p{margin: 0; padding-top: 1px; font-size: 12px }

/*--------home page car list----*/
.car_list{
    width: 120px;
    height: 90px;
}

.control-label {
    text-align: left;
}

#toggleText{
    padding:15px;
}

.form-horizontal .control-label {
    text-align: left;
}

.notice_heading{
    color : #95CAF2;
    text-align: center;
    margin-top: 20px;
}


.general {
    padding: 10px 0px;
    border-bottom: 1px solid #8EC9F5;
    margin: 0 0 15px;
}

ul {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}

ul#inventory li.item {
    width: 215px;
    float: left;
    margin: 0px;
    list-style: outside none none;
    padding: 15px 15px 0px;
    background-color: #EBF5F8;
    margin-right: 20px !important;
    margin-bottom: 20px !important;
}

ul#inventory li.item .photo {
    height: 125px;
    width: 185px;
}
.tools {
    height: 25px;
}

.price_db a {
    color: #000 !important;
}

ul#inventory li.item .tools .icons {
    padding: 5px 0px 0px;
    float: right;
}


/*---------customer profile-------------*/

.highlight {
    display: block;
    margin-top: 5px;
}


.buffer {
    padding: 10px 12px 10px 10px;

}


h2.title {
    text-indent: 10px;
    padding: 10px 12px 10px 10px;
    background-color: #94C9F1;
}
.title {
    font-size: 20px !important;
    color: #000 !important;
}
.squeeze {
    padding: 0px 10px;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
td.value {
    vertical-align: top;
    padding: 0px 5px;
}

.table{
    border: 1px solid #E1E1E1;
}

.preview tr.odd {
    background: #E1E1E1 none repeat scroll 0% 0%;
}
.full tbody tr {
    line-height: 20px;
}
.odd {
    border: 1px solid #ddd ;
    background-color: #E1E1E1;
}

.preview {
    font-size: 12px;
}

.date_of_birth{
	margin-left: 0 !important;
	margin-right: 0 !important;
}