@font-face {
    font-family: 'digital_dream_fatregular';
    src: url('../fonts/DIGITALDREAMFAT-webfont.eot');
    src: url('../fonts/DIGITALDREAMFAT-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DIGITALDREAMFAT-webfont.woff') format('woff'),
    url('../fonts/DIGITALDREAMFAT-webfont.ttf') format('truetype'),
    url('../fonts/DIGITALDREAMFAT-webfont.svg#digital_dream_fatregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
